<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template Email - Change Password</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    p {
      font-size: 22px;
      font-weight: 400;
      line-height: 36px;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    body > div > div > div:nth-of-type(2) a:hover {
      transform: translateY(-1px);
    }
  </style>
</head>
<body>
  <div style="width: 100%; max-width: 932px; height: 599px; border: 2px solid #E2E2E2; border-radius: 8px;">
    <div style="padding: 57px;">
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 23px;">
        <div>
          <p style="font-size: 24px; font-weight: 600;">Halo Moris Amareta,</p>
          <p style="font-size: 20px; font-weight: 300;">berikut adalah link untuk reset password.</p>
        </div>
        <div>
          <img src="file1" th:src="'cid:' + ${imageResourceName}" alt="Logo Kawah Edukasi">
        </div>
      </div>
      <hr style="margin-bottom: 30px;">
      <div style="display: flex; flex-direction: column;">
        <p>
          Permintaan untuk reset password Kawah Edukasi Anda telah dibuat.
          Jika Anda tidak membuat permintaan, abaikan saja email ini. Jika
          Anda memang membuat permintaan, harap segera reset password
          Anda :
        </p>
        <a 
          href="http://localhost:3000/change-password" 
          target="_blank"
          style="align-self: center; width: 399px; height: 55px; margin: 35px 0; padding: 10px; color: white; text-align: center; text-decoration: none; font-size: 24px; font-weight: 600; background-color: #0D9CA8; cursor: pointer; border: none; border-radius: 8px;"
          >Ubah Password</a>
        <p style="font-weight: 500;">Kawah Edukasi</p>
        <p>Support Team</p>
      </div>
      <div>
        <p style="font-weight: 500; margin-top: 25px; text-align: center;">2022 &copy; Kawah Edukasi.</p>
      </div>
    </div>
  </div>
</body>
</html>